
/**
 * @file
 * Styles for City theme, for Drupal 6.x
 *
 * City Drupal Theme by Template-Stock.com
 * http://template-stock.com
 */

html, body {
  margin:0;
  padding:0;
  height:100%;
}
body {
  font-family: Verdana, Tahoma, Geneva, sans-serif;
  font-size: 0.813em;
  font-style: normal;
  font-weight: normal;
  letter-spacing:normal;
  line-height: 1.438em;
}
input, textarea, select {
  margin:2px;
  padding: 2px 4px;
  background-color:#FFF;
  border:1px solid #828fd9;
}
p{
  margin:4px 0;
  padding:0;
}
h1, h2, h3, h4, h5, h6 {
  color: #FFF;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 10px 0;
  padding: 0;
}
h1{
  font-size: 2em;
  line-height: 1.25em;
  margin:6px 0;
}
h2{
  font-size: 1.846em;
  font-weight: normal;
  line-height: 1.2em;
  margin:10px 0 6px 0;
}
h3{
  font-size: 1.692em;
}
h4{
  font-size: 1.538em;
}
h5{
  font-size: 1.385em;
}
h6{
  font-size: 1.231em;
}
blockquote {
  border-left: 2px solid #828fd9;
  font-style: italic;
  margin: 10px 14px 10px 0;
  padding: 10px 0 10px 34px;
}
cite {
  border-bottom: 1px dotted #3c56a6;
  font-style: italic;  
}
dfn {
  border-bottom: 1px dotted #3c56a6;
  font-style: italic;
}
kbd {
  background-color: #FFF;
  border: 1px solid #828fd9;
  color: #00112b;
  padding: 1px 5px;
}
del {
  color: #A0A0A0;
}
code,
samp {
  background-color: #FFF;
  border-left: 1px dotted #00112b;
  color: #00112b;
  display: block;
  padding: 10px 14px;
}
table {
  width:100%;
}
table caption {
  font-style: italic;
  text-align: right;
}
thead th {
  border-top:1px dotted #3C56A6;
  border-bottom:none;
  font-weight:normal;
  padding: 4px 8px;
}
tbody {
  border-top:1px dotted #3c56a6
}
tbody th {
  border-bottom:1px dotted #3c56a6;
  font-weight:normal;
  padding: 4px 8px;
}
td {
  padding: 4px 8px;
}
tr {
  border-bottom:1px dotted #FFF;
  color: #FFF;
}
tr.even {
  background-color: #3c56a6;
  border-bottom:1px dotted #FFF;
  color: #FFF;
}
tr.odd {
  background-color: #828fd9;
  border-bottom:1px dotted #FFF;
  color: #FFF;
}

input{
  border:1px solid #828fd9;
  padding:3px;
}
a, a.active, a:visited{
  color: #f2b90c;
  padding: 1px 2px;
}
a{text-decoration:none;}
a:hover{
  background-color: #f2b90c;
  color: #00112b;
}

strong{
  background-color: #828fd9;
  color: #00112b;
  padding: 1px 4px;
}
#page-wrapper{
  max-width: 1300px;
  margin:0 auto;
  min-width: 980px;
  padding: 0 16px 10px 16px;
}
#sidebar-left{
  float: left;
  padding: 0 10px 0 0;
  position: relative;
  margin: 0 10px 0 0;
  width: 260px;
  z-index: 2;
}
#sidebar-right{
  float: left;
  padding: 0 0 0 10px;
  position:relative;
  margin: 0 0 0 10px;
  width: 260px;
  z-index: 2;
}
#main{
  float: left;
  width: 100%;
  margin:0 -280px;
}
body.no-sidebars #main{
  margin:0 0 0 0;
}
body.sidebar-right #main{
  margin:0 -280px 0 0;
}
body.sidebar-left #main{
  margin:0 0 0 -280px;
}
#main-squeeze{
  margin: 0 280px;
}
body.no-sidebars #main-squeeze{
  margin: 0 0 0 0;
}
body.sidebar-right #main-squeeze{
  margin: 0 280px 0 0;
}
body.sidebar-left #main-squeeze{
  margin: 0 0 0 280px;
}
#content{
  margin: 0 0 30px 0;
}
.block{
  padding: 25px;
}
#mission{
  border-bottom: 1px dotted #3C56A6;
  font-size: 1.154em;
  margin:16px 0 40px 0;
  padding: 0 0 12px 0;
}
#breadcrumb{
  font-size: 0.857em;
  margin: 0;
  padding: 0 0 4px 8px;
}
.block{
  margin: 0 0 20px 0;
}
.block h2 {
  padding: 0 0 8px 0;
}
.node h2 {
  padding: 0 0 8px 0;
  font-size: 2.2em;
}
.node h2 a {
  color: #FFF;
}
.node h2 a:hover {
  color: #00112b;
}
.node{
  border-right: 2px dotted #828fd9;
  margin:0 0 40px 0;
  padding: 0 30px 0 0;
}
.meta{
  font-size: 0.846em;
  line-height: 1.4em;
  overflow:hidden;
  margin: 20px 0 0 0;
}
.meta .submitted {
  float: left;
}
.meta .terms {
  float: right;
}
.meta .terms li {
  border-right: 1px dotted #3C56A6;
  margin: 0;
  padding:0 4px;
}
.comment {
  border-right: 2px dotted #828FD9;
  padding:0 30px 0 0;
}
.comment .submitted {
  font-size: 0.846em;
  line-height: 1.4em;
  margin: 0 0 8px 0;
}

input.form-submit {
  background-color:#3c56a6;
  border:1px solid #828fd9;
  color:#FFF;
  cursor:pointer;
  font-size:1em;
  padding:3px 1em;
  text-decoration: none;
}
input.form-submit:hover {
  background-color:#f2b90c;
  border:1px solid #828fd9;
  color:#3c56a6;
}

#forum{
  margin: 0 0 30px 0;
}
#forum ul.links {
  margin:0 0 0 44px;
}
#forum tr td.forum {
  background:transparent url("img/forum-default.png") no-repeat 6px center;
  padding-left:45px;
}
#forum tr.new-topics td.forum {
  background-image: url("img/forum-new.png");
}
#forum tr td{
  min-height: 40px;
}
#forum div.indent {
  margin-left:0px;
}
#forum .description {
  font-size:0.85em;
  margin:0;
}
#forum .container{
  background-color: #3C56A6;
  padding:8px 0 2px 44px;
  text-transform: uppercase;
}
#forum tr.even, #forum tr.odd {
  background-color: transparent;
}
#forum td.posts, #forum td.topics{
  text-align:left;
}
#forum ul.links {
  clear:both;
}
fieldset legend {
  font-weight:bold;
}
.messages strong,
.help strong{
  color:#FFF;
  background-color: transparent;
}
.messages,
.help{
  color:#FFF;
  margin: 10px 0;
  padding: 20px 10px 20px 68px;
}
.messages{
  background:#77a612 url('img/message-ico-ok.png') no-repeat 4px 8px;
  border: 1px dotted #00112b;
}
.help {
  background: #3c56a6 url('img/message-ico-help.png') no-repeat 4px 8px;
  border: 1px dotted #00112b;
}
div.warning, tr.warning {
  background: #f2b90c url('img/message-ico.png') no-repeat 4px 8px;
  color:#FFF;
  padding: 20px 10px 20px 68px;
}
div.error, tr.error {
  background: #bf244e url('img/message-ico-error.png') no-repeat 4px 8px;
  color:#FFF;
  padding: 20px 10px 20px 68px;
}
div.warning,
div.error {
  border:1px dotted #00112b;
}

.node .content img{
  background-color: #FFF;
  border:1px solid #3C56A6;
  float: left;
  margin:0 14px 12px 0;
  padding:4px;
}
#user-login-form #edit-name,
#user-login-form #edit-pass{
  width: 100%;
}

ul.links li {
  float: left;
  display:block;
  list-style-type:none;
  padding: 0;
  margin: 8px 0;
}
#navigation {
  padding: 20px 0;
}
#primary li a,
#secondary li a {
  padding: 10px;
}
#primary li.active-trail a {
  border-top: 1px solid #828fd9;
}
/* Tabs */
ul.primary {
  border-collapse:collapse;
  height:auto;
  line-height:normal;
  list-style:none outside none;
  margin:5px;
  padding:0 0 0 1em;
  white-space:nowrap;
}
.tabs{
  background-color:transparent;
  clear:both;
  margin:10px 0 20px;
  overflow: hidden;
  text-transform:uppercase;
  padding:0;
  width:100%;
}
.tabs ul.primary, .tabs ul.secondary {
  border-bottom:1px dotted #828fd9;
  clear:left;
  float:left;
  margin:0;
  padding:0 10px;
}
.tabs ul.primary li a:link,
.tabs ul.primary li a:visited,
.tabs ul.secondary li a:link,
.tabs ul.secondary li a:visited {
  background-color:transparent;
  border:medium none;
  float:left;
  font-size:0.8em;
  font-weight:bold;
  line-height:1.2em;
  margin:0 4px;
  padding:0 0 6px;
  text-decoration:none;
}
.tabs ul.primary li, .tabs ul.secondary li {
  background:none repeat scroll 0 0 transparent;
  border-style:none;
  display:inline;
  float:left;
  list-style:none outside none;
  margin:0 4px;
  padding:0;
}
.tabs ul.primary li a.active:link, .tabs ul.primary li a.active:visited {
  border-bottom:4px solid #FFF;
  color: #FFF;
  padding-bottom:2px;
}
.tabs ul.primary li a:hover,
.tabs ul.secondary li a:hover {
  border-bottom: 4px solid #FFF;
  color:#FFF;
  padding-bottom: 2px;
}
#page {
  background-color: #00112b;
  color: #828fd9;
}
#header {
  background: #00112b url('img/city-night.jpg') no-repeat top center;
  height: 286px;
}
#name-and-slogan {
  left: 30px;
  position: absolute;
  top: 60px;
  width: 400px;
}
#flash-header {
  margin: 0 auto;
  position: relative;
  text-align: right;
  width: 980px;
}
#site-name a {
  color: #FFF;
  font-size: 1.538em;
}
#site-name a:hover {
  background-color: transparent;
  color: #F2B90C;
}
#site-slogan {
  color: #FFF;
  font-style: italic;
}

#container {
  margin: 0 auto;
  width: 980px;
}
#secondary {
  background-color: #3c56a6;
}
#secondary a {
  color: #FFF;
}
#primary li.active-trail a {
  background-color: #3c56a6;
  color: #FFF;
}
#secondary li.active-trail a,
#secondary li a:hover {
  background-color: #FFF;
  color: #3c56a6;
}
#search-box {
  float: right;
}
.item-list ul li {
  background: transparent url('img/list-b.png') no-repeat 0 9px;
  list-style: none;
  margin:0 0 0.25em 1.5em;
  padding:0 0 0 10px;
}
.block ul {
  margin:0;
  padding:0 0 0.25em 0;
}
ul.menu {
  list-style:none;
  padding: 4px 0 4px 10px;
}
li.leaf,
li.expanded,
li.collapsed {
  background: transparent url('img/list.png') no-repeat 0 9px;
  list-style-image: none;
  list-style-type: none;
  margin:0;
  padding:0 0 0 10px;
}
li a.active {
  color:#FFF;
}
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border:2px solid #bf244e;
}
.marker, .form-required {
  color:#bf244e;
}
.item-list .pager {
  background-color: #3c56a6;
  clear:both;
  text-align:center;
  padding: 10px;
}
.item-list .pager .pager-current{
  background-color: #FFF;
  color: #3C56A6;
  overflow: hidden;
}
.node-links {
  font-size: 0.923em;
  margin: 6px 0 10px 0;
}
.node-links ul.links.inline,
.comment .links {
  background-color: #3C56A6;
  color: #FFF;
  display: block;
  overflow: hidden;
}
.node-links ul.links.inline li,
.comment .links li {
  border-right: 1px dotted #FFF;
  padding: 0 8px 0 8px;
}
.node-links ul.links.inline li a,
.comment .links li a {
  color: #FFF;
  padding: 2px 4px;
}
.node-links ul.links.inline li a:hover,
.comment .links li a:hover {
  background-color: #FFF;
  color: #3C56A6;
}
.comment h4 {
  float: left;
}
.comment .links {
  font-size:0.846em;
  line-height:1em;
  margin: 20px 0 10px;
}
.item-list .pager li {
  margin: 0;
  padding:0.5em;
}
.item-list .pager li a {
  padding: 4px;
}
fieldset {
  border: 1px dotted #3C56A6;
  margin-bottom:2em;
  padding:20px;
}
legend a:hover {
  color: #FFF;
}
.form-item label {
  font-weight:normal;
}
div.vertical-tabs {
  border:1px solid #828fd9;
}
div.vertical-tabs ul.vertical-tabs-list strong {
  background-color: transparent;
  color: #FFF;
  font-weight: normal;
}
div.vertical-tabs ul.vertical-tabs-list {
  border-top:1px solid #828fd9;
}
div.vertical-tabs ul.vertical-tabs-list li.selected {
  background-color:#828fd9;
}
div.vertical-tabs ul.vertical-tabs-list li a {
  display:block;
  height:1%;
  line-height:1.3em;
  padding:0.5em 0.6em;
  text-decoration:none;
}
div.vertical-tabs ul.vertical-tabs-list li {
  background:#3c56a6;
  border:1px solid #828fd9;
}
div.vertical-tabs ul.vertical-tabs-list .summary {
  font-size: 0.846em;
}
.new {
  color: #bf244e;
}
.poll .bar {
  background-color: #3C56A6;
  height:6px;
  margin:1px 0;
}
.poll .bar .foreground {
  background-color: #f2b90c;
  float:left;
  height:6px;
}
.poll .percent {
  font-size: 0.846em;
}

#footer-wrapper {
  padding: 20px;
}
#footer {
  border-top:1px dotted #828FD9;
  font-size: 0.846em;
  margin: 0 auto;
  padding: 10px 0;
  width: 980px;
}
#user-login-form {
  text-align: left;
}